<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            POLPOD
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="submit()">Submit</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <form class="form" [formGroup]="polPodForm">
        <ion-card>
            <ion-card-content>
                <ion-item class="form-item">
                    <ion-label>Country</ion-label>
                    <ion-select placeholder="Select One" formControlName="refReferenceListCountryId">
                        <ion-select-option *ngFor="let item of countries" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="form-item">
                    <ion-label>State</ion-label>
                    <ion-select placeholder="Select One" formControlName="refReferenceListStateId">
                        <ion-select-option *ngFor="let item of states" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="form-item">
                    <ion-label>City</ion-label>
                    <ion-select placeholder="Select One" formControlName="refReferenceListCityId">
                        <ion-select-option *ngFor="let item of cities" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item class="form-item">
                    <ion-label>Flat/Building No:</ion-label>
                    <ion-textarea type="text" formControlName="address1"></ion-textarea>
                </ion-item>

                <ion-item class="form-item">
                    <ion-label>Address Line 1:</ion-label>
                    <ion-textarea type="text" formControlName="address2"></ion-textarea>
                </ion-item>

                <ion-item class="form-item">
                    <ion-label>Address Line 2:</ion-label>
                    <ion-textarea type="text" formControlName="address3"></ion-textarea>
                </ion-item>

                <ion-item class="form-item">
                    <ion-label>Land Mark:</ion-label>
                    <ion-textarea type="text" formControlName="address4"></ion-textarea>
                </ion-item>

                <ion-item class="form-item">
                    <ion-label>POL/POD</ion-label>
                    <ion-select placeholder="Select One" formControlName="refReferenceListPolpodtypeId">
                        <ion-select-option *ngFor="let item of polPods" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item class="form-item">
                    <ion-label>Location:</ion-label>
                    <ion-input type="text" formControlName="location"></ion-input>
                </ion-item>
            </ion-card-content>
        </ion-card>

    </form>
</ion-content>