<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>Resgistration</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="submit()">Submit</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="signup-form" [formGroup]="registrationForm">
        <ion-item class="form-item">
            <ion-label position="floating">Name:</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">GST:</ion-label>
            <ion-input type="text" formControlName="gstno"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">PAN:</ion-label>
            <ion-input type="text" formControlName="panno"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Legal Name:</ion-label>
            <ion-input type="text" formControlName="lname"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Address:</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Nature Of Address:</ion-label>
            <ion-input type="text" formControlName="naddress"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Entitiy Type:</ion-label>
            <ion-input type="text" formControlName="etype"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Registration Type:</ion-label>
            <ion-input type="text" formControlName="rtype"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">DeptCode And Type:</ion-label>
            <ion-input type="text" formControlName="dtype"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Registration Date:</ion-label>
            <ion-input type="text" formControlName="regdate"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Telephone:</ion-label>
            <ion-input type="text" formControlName="telno"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Mobile:</ion-label>
            <ion-input type="text" formControlName="mobno"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Email:</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Website:</ion-label>
            <ion-input type="text" formControlName="website"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Description:</ion-label>
            <ion-input type="text" formControlName="desc"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">City:</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">State:</ion-label>
            <ion-input type="text" formControlName="sate"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Country:</ion-label>
            <ion-input type="text" formControlName="country"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Flat/Building No:</ion-label>
            <ion-input type="text" formControlName="fno"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Address Line1:</ion-label>
            <ion-input type="text" formControlName="add1"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Address Line2:</ion-label>
            <ion-input type="text" formControlName="add2"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label position="floating">Land Mark:</ion-label>
            <ion-input type="text" formControlName="lmark"></ion-input>
        </ion-item>
    </form>
</ion-content>