<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            {{'Driver-In-Out.Driver-In-Out'|translate}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="create-btn" (click)="newDriverInOut()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="card" *ngFor="let driver of drivers">
        <ion-card-content>
            <div>
                <ion-note>
                    <ion-icon name="person-outline"></ion-icon>
                    <span>&nbsp;{{'Driver-In-Out.Driver Name'|translate}} : &nbsp;</span>
                    <span>{{driver.driverName}}</span>
                </ion-note>
            </div>
            <div>
                <ion-note>
                    <ion-icon name="call-outline"></ion-icon>
                    <span>&nbsp;{{'Driver-In-Out.Mobile Number'|translate}} : &nbsp;</span>
                    <span>{{driver.mobileNo}}</span>
                </ion-note>
            </div>
            <div>
                <ion-note>
                    <ion-icon name="time-outline"></ion-icon>
                    <span>&nbsp;{{'Driver-In-Out.In Time'|translate}}  : &nbsp;</span>
                    <span>{{driver.inTime  | date:'MMM dd, yyyy HH:mm'}}</span>
                </ion-note>
            </div>
            <div>
                <ion-note>
                    <ion-icon name="time-outline"></ion-icon>
                    <span>&nbsp;{{'Driver-In-Out.Out Time'|translate}} : &nbsp;</span>
                    <span>{{driver.outTime  | date:'MMM dd, yyyy HH:mm'}}</span>
                </ion-note>
            </div>
            <div>
                <ion-fab vertical="top" horizontal="end">
                    <ion-fab-button class="accpt" size="small" (click)="edit(driver.driverInOutId)">
                        <ion-icon class="highlight" name="pencil-outline"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-fab vertical="bottom" horizontal="end">
                    <ion-fab-button class="cancel" size="small" (click)="deleteDetails(driver.driverInOutId)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </div>

        </ion-card-content>
    </ion-card>
</ion-content>