<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title *ngIf="!vehicleEditId">
            Create Vehicle
        </ion-title>
        <ion-title *ngIf="vehicleEditId > -1">
            Edit Vehicle
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <form [formGroup]="vehicleForm">
                <ion-item>
                    <ion-label>&nbsp;Vehicle Type :</ion-label>
                    <ion-select mode="ios" formControlName="refReferenceListVehicleTypeid" interface="action-sheet" placeholder="Select Vehicle Type">
                        <ion-select-option *ngFor="let item of vehicleType" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>&nbsp;Vehicle NO :</ion-label>
                    <ion-input type="text" formControlName="vehicleNo" placeholder="Enter Vehicle Number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>FC Validity :</ion-label>
                    <ion-datetime placeholder="Select Date" formControlName="fcValidity" display-format="YYYY-MM-DD" [min]="currentYear" [max]="maxyear"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>FC Document</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Insurence Validity :</ion-label>
                    <ion-datetime placeholder="Select Date" formControlName="insurenceValidty" display-format="YYYY-MM-DD" [min]="currentYear" [max]="maxyear"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Insurence Document</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>RC Document</ion-label>
                </ion-item>
                <ion-item>
                    <ion-label>Description :</ion-label>
                    <ion-textarea style="text-align: right;" formControlName="description" placeholder=" description"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>City</ion-label>
                    <ion-select mode="ios" formControlName="refReferenceListCityId" interface="popover" placeholder="Select City">
                        <ion-select-option *ngFor="let item of citys" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>State</ion-label>
                    <ion-select mode="ios" formControlName="refReferenceListStateId" interface="popover" placeholder="Select State">
                        <ion-select-option *ngFor="let item of states" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Country</ion-label>
                    <ion-select mode="ios" formControlName="refReferenceListCountryId" interface="popover" placeholder="Select Country">
                        <ion-select-option *ngFor="let item of countrys" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>&nbsp;Flat/Bulding No :</ion-label>
                    <ion-input type="text" formControlName="address1" placeholder="Enter house number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>&nbsp;Address Line 1:</ion-label>
                    <ion-input type="text" formControlName="address2" placeholder="Street/Locality"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>&nbsp;Address Line 2 :</ion-label>
                    <ion-input type="text" formControlName="address3" placeholder=""></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>&nbsp;Land Mark :</ion-label>
                    <ion-input type="text" formControlName="address4" placeholder="Landmark"></ion-input>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>