# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log

/madhan-admin/log.txt
/madhan-adminnpm-debug.log*
/madhan-adminpackage.lock.json

/madhan-admin/.idea
/madhan-admin/.ionic
/madhan-admin/.sass-cache
/madhan-admin/.sourcemaps
/madhan-admin/.versions
/madhan-admin/.vscode
/madhan-admin/coverage
/madhan-admin/dist
/madhan-admin/node_modules
/madhan-admin/platforms
/madhan-admin/plugins
/madhan-admin/www

/madhan-customer/log.txt
/madhan-customer/npm-debug.log*
/madhan-customer/package.lock.json

/madhan-customer/.idea
/madhan-customer/.ionic
/madhan-customer/.sass-cache
/madhan-customer/.sourcemaps
/madhan-customer/.versions
/madhan-customer/.vscode
/madhan-customer/coverage
/madhan-customer/dist
/madhan-customer/node_modules
/madhan-customer/platforms
/madhan-customer/plugins
/madhan-customer/www
