@import './../../../global.scss';
.card {
    ion-card-content {
        div {
            font-size: 16px;
            margin-top: 8px;
            margin-bottom: 8px;
            display: flex;
            .field {
                width: 100px;
            }
        }
    }
}