<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            Available Vehicles
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="trucks-list">
        <ion-card *ngFor="let item of vehicles">
            <ion-card-content>
                <div>
                    <ion-note>
                        <ion-icon name="person"></ion-icon> Transpoter Name: {{item.transporterName}}
                    </ion-note>
                </div>
                <div>
                    <ion-note>
                        <ion-icon name="bus"></ion-icon> Vehicle Type: {{item.vehicleType}}
                    </ion-note>
                </div>
                <div>
                    <ion-note>
                        <ion-icon name="reader"></ion-icon> Vehicle No: {{item.vehicleNo}}
                    </ion-note>
                </div>
                <div>
                    <ion-note>
                        <ion-icon name="location"></ion-icon> Live Location: {{item.address4}}
                    </ion-note>
                </div>

                <div>
                    <ion-note>
                        <ion-icon name="call"></ion-icon> Mobile No: {{item.mobile}}
                    </ion-note>
                </div>
                <span>
                            <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                                <ion-fab-button style="--background: var(--primary-color) !important; " (click)="sendMsg(item.vehicleId)">
                                <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
                          </ion-fab-button>
                            </ion-fab>
                        </span>
            </ion-card-content>
        </ion-card>
    </div>
    <div class="map-div">
        <div id="tracking_map">
        </div>
    </div>


</ion-content>