@import './../../../global.scss';
.item-label {
    font-size: 14px;
    color: grey;
    padding: 4px 0px;
}

.highlight-label {
    color: #e8a700;
    font-size: 16px !important;
}

// ion-content {
//     --background: var(--primary-color) !important;
// }
ion-card-content {
    div {
        margin-top: 10px;
         ion-icon {
             margin-right: 5px;
         }
    }
}


.send-alert-btn {
    position: absolute;
    right: 15px;
    margin-top: -35px;
    --background: transparent;
    --color: var(--primary-color);
}

.trucks-list {
    height: calc(100vh - 330px);
    overflow-y: auto;
}

.map-div {
    margin-top: 15px;
    height: 259px;
}