<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title>Resgistration</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="submit()">Submit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form class="signup-form" [formGroup]="registrationForm">
    <ion-item class="form-item">
      <ion-label position="floating">Name:</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">GST NO:</ion-label>
      <ion-input type="text" formControlName="gstNo"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">PAN:</ion-label>
      <ion-input type="text" formControlName="pannumber"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Legal Name:</ion-label>
      <ion-input type="text" disabled="true" formControlName="legalName"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Address:</ion-label>
      <ion-input type="text" disabled="true" formControlName="address"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Nature Of Business:</ion-label>
      <ion-input type="text" disabled="true" formControlName="natureOfBusiness"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Entity Type:</ion-label>
      <ion-input type="text" disabled="true" formControlName="entityType"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Registration Type:</ion-label>
      <ion-input type="text" disabled="true" formControlName="registrationType"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Dept Code And Type:</ion-label>
      <ion-input type="text" disabled="true" formControlName="deptCodeAndType"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Registration Date:</ion-label>
      <ion-input type="text" disabled="true" formControlName="registrationDate"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Telephone:</ion-label>
      <ion-input type="number" formControlName="telePhone"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Mobile:</ion-label>
      <ion-input type="number" formControlName="mobile"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Description:</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label>City</ion-label>
      <ion-select placeholder="Select One" formControlName="refReferenceListCityId">
        <ion-select-option *ngFor="let item of cities" 
        [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="form-item">
      <ion-label>State</ion-label>
      <ion-select placeholder="Select One" formControlName="refReferenceListStateId">
        <ion-select-option *ngFor="let item of states" 
        [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="form-item">
      <ion-label>Country</ion-label>
      <ion-select placeholder="Select One" formControlName="refReferenceListCountryId">
        <ion-select-option *ngFor="let item of countries" 
        [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Address Line 1:</ion-label>
      <ion-textarea type="text" formControlName="address1"></ion-textarea>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Address Line 2:</ion-label>
      <ion-textarea type="text" formControlName="address2"></ion-textarea>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Address Line 3:</ion-label>
      <ion-textarea type="text" formControlName="address3"></ion-textarea>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Address Line 4:</ion-label>
      <ion-textarea type="text" formControlName="address4"></ion-textarea>
    </ion-item>


  </form>
</ion-content>