@import './../../../global.scss';
.item-label {
    font-size: 13px;
    color: grey;
    padding: 4px 0px;
}



.item {
    --border-color: transparent;
}



ion-card-content {
    div {
        margin-top: 10px;
    }
    ion-icon {
        margin-right: 5px;
    }
}

.addicon {
    font-size: 32px;
}