<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            LR
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="add-outline" (click)="newLr()" class="addicon"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <!-- Sliding item with text options on both sides -->

        <ion-item *ngFor="let item of lrList">
            <ion-card>
                <ion-card-content>
                    <div>
                        <ion-note class="highlight">
                            <ion-icon name="bus-outline"></ion-icon>BookingId: {{item.bookingId}}
                        </ion-note>
                    </div>
                    <div>
                        <ion-note>
                            <ion-icon name="person-outline"></ion-icon> Lr Number: {{item.lrNo}}
                        </ion-note>
                    </div>
                    <div>
                        <ion-note>
                            <ion-icon name="person-outline"></ion-icon> Material: {{item.material}}
                        </ion-note>
                    </div>
                    <div>
                        <ion-note>
                            <ion-icon name="person-outline"></ion-icon> Vehicle Type: {{item.vehicleType}}
                        </ion-note>
                    </div>
                    <div>
                        <ion-row>
                            <ion-col width-50>
                                <ion-label class="item-label" detail="true">
                                    <ion-icon name="cart-outline"></ion-icon> Quantity: {{item.totalQty}}
                                </ion-label>
                            </ion-col>
                            <ion-col width-50>
                                <ion-label class="item-label" detail="true">
                                    <ion-icon name="calendar-outline"></ion-icon> Fright: {{item.fright}}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div>
                        <ion-row>
                            <ion-col width-50>
                                <ion-label class="item-label" detail="true">
                                    <ion-icon name="cash-outline"></ion-icon> Payment Done: {{item.bpSum}}
                                </ion-label>
                            </ion-col>
                            <ion-col width-50>
                                <ion-label class="item-label" detail="true">
                                    <ion-icon name="cash-outline"></ion-icon> Payment Recived: {{item.brSum}}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </div>
                    <div>
                        <ion-fab vertical="top" horizontal="end">
                            <ion-fab-button class="accpt" size="small" (click)="edit(item.bookingId)">
                                <ion-icon class="highlight" name="pencil-outline"></ion-icon>
                            </ion-fab-button>

                        </ion-fab>
                        <!-- <ion-fab vertical="bottom" horizontal="end">
                            <ion-fab-button class="cancel" size="small" (click)="deleteVehicle(vehicle.vehicleId)">
                                <ion-icon name="trash-outline"></ion-icon>
                            </ion-fab-button>
                        </ion-fab> -->
                    </div>
                </ion-card-content>
            </ion-card>
        </ion-item>

    </ion-list>

</ion-content>