<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            New LR
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-select placeholder="Select Booking No" interface="popover" mode="android">
            <ion-select-option value="1">Book 1</ion-select-option>
            <ion-select-option value="2">Book 2</ion-select-option>
        </ion-select>
    </ion-card>
    <form class="form">
        <ion-item class="form-item">
            <ion-label postion="fixed">LR NO</ion-label>
            <ion-input type="text" placeholder="96/2345"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label>Quantity</ion-label>
            <ion-input type="number" placeholder="30"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Material</ion-label>
            <ion-input type="text" placeholder="Printer"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label postion="fixed">Booking Date</ion-label>
            <ion-datetime placeholder="select date" display-timezone="utc"></ion-datetime>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Consignor</ion-label>
            <ion-input type="text" placeholder="HP"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Consignee</ion-label>
            <ion-input type="text" placeholder="LBR Traders"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Source</ion-label>
            <ion-input type="text" placeholder="Chennai"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Destination</ion-label>
            <ion-input type="text" placeholder="Mumbai"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Loading Point</ion-label>
            <ion-input type="text" placeholder="Chennai HUB"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label>un-Loading Point</ion-label>
            <ion-input type="text" placeholder="Chennai HUB"></ion-input>
        </ion-item>


        <ion-item class="form-item">
            <ion-label>Vehicle No</ion-label>
            <ion-input type="text" placeholder="TN 46 B 8885"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label>Transpoter Name</ion-label>
            <ion-input type="text" placeholder="Mahe"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Transpoter Mob</ion-label>
            <ion-input type="text" placeholder="9632587410"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Driver Name</ion-label>
            <ion-input type="text" placeholder="Mahe"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Mobile Mob</ion-label>
            <ion-input type="text" placeholder="9632587410"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Licence Number</ion-label>
            <ion-input type="text" placeholder="9632587410"></ion-input>
        </ion-item>



        <ion-item class="form-item">
            <ion-label>Rate</ion-label>
            <ion-input type="number" placeholder="100"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Loading Charges</ion-label>
            <ion-input type="number" placeholder="50"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Fright</ion-label>
            <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Total Pay</ion-label>
            <ion-input type="number" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Advance</ion-label>
            <ion-input type="number" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Balance</ion-label>
            <ion-input type="number" placeholder=""></ion-input>
        </ion-item>

        <!-- <ion-button class="generate-invoice-btn">
      Generate Invoice
    </ion-button> -->

    </form>
</ion-content>