<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title *ngIf="!isEdit">
            New LR
        </ion-title>
        <ion-title *ngIf="isEdit">
            Edit LR
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form class="form" [formGroup]="lrForm">
        <ion-item class="form-item">
            <ion-label postion="fixed">Booking Id</ion-label>
            <ion-select placeholder="Select Booking No" formControlName="bookingId" interface="popover" mode="ios" disabled="true">
                <ion-select-option *ngFor="let booking of bookingIds" [value]="booking">{{booking}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item class="form-item">
            <ion-label postion="fixed">LR NO</ion-label>
            <ion-input type="text" formControlName="lrNo" placeholder="96/2345" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label>Quantity</ion-label>
            <ion-input type="number" formControlName="totalQty" placeholder="30" [readonly]="true"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Material</ion-label>
            <ion-input type="text" formControlName="material" placeholder="Printer" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label>Consigner</ion-label>
            <ion-input type="text" formControlName="cpolbmCustomerName" placeholder="HP" [readonly]="true"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Consignee</ion-label>
            <ion-input type="text" formControlName="consignerName" placeholder="LBR Traders"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Source</ion-label>
            <ion-input type="text" placeholder="Chennai"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Destination</ion-label>
            <ion-input type="text" placeholder="Mumbai"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Loading Point</ion-label>
            <ion-input type="text" placeholder="Chennai HUB"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label>un-Loading Point</ion-label>
            <ion-input type="text" placeholder="Chennai HUB"></ion-input>
        </ion-item>


        <ion-item class="form-item">
            <ion-label>Vehicle No</ion-label>
            <ion-input type="text" formControlName="vvberVehicleNo" placeholder="TN 46 B 8885"></ion-input>
        </ion-item>
        <ion-item class="form-item">
            <ion-label>Transpoter Name</ion-label>
            <ion-input type="text" formControlName="transporterName" placeholder="Mahe"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Transpoter Mob</ion-label>
            <ion-input type="text" formControlName="transporterMob" placeholder="9632587410"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Driver Name</ion-label>
            <ion-input type="text" formControlName="driverName" placeholder="Mahe"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Mobile Mob</ion-label>
            <ion-input type="text" formControlName="mobileNo" placeholder="9632587410"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Licence Number</ion-label>
            <ion-input type="text" formControlName="licenceNo" placeholder="9632587410"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Rate</ion-label>
            <ion-input type="number" formControlName="vbmRateAmount" placeholder="100"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Loading Charges</ion-label>
            <ion-input type="number" formControlName="bpDescription" placeholder="50"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Fright</ion-label>
            <ion-input type="text" formControlName="fright" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Total Pay</ion-label>
            <ion-input type="number" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Advance</ion-label>
            <ion-input type="number" formControlName="rlbppmName" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Balance</ion-label>
            <ion-input type="number" placeholder=""></ion-input>
        </ion-item>
    </form>
</ion-content>