<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title *ngIf="!isEdit">New Payments</ion-title>
        <ion-title *ngIf="isEdit">Edit Payments</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-content class="receipt-card-content">
            <form [formGroup]="paymentForm">
                <ion-item class="form-item">
                    <ion-label position="floating">Vehicel Booking Mapping Id</ion-label>
                    <ion-select placeholder="Select One" interface="popover" mode="ios" formControlName="refVehicleBookingMappingId" class="select">
                        <ion-select-option *ngFor="let item of vehicleBookings" [value]="item.vehicleBookingMappingId">
                            {{item.vehicleNo}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="form-item">
                    <ion-label position="floating">Payment Mode</ion-label>
                    <ion-select placeholder="Select One" interface="popover" mode="ios" formControlName="refReferenceListModeId" class="select">
                        <ion-select-option *ngFor="let item of paymentModes" [value]="item.referenceListId">
                            {{item.referenceListIdName}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="form-item">
                    <ion-label position="floating">Payment Purpose</ion-label>
                    <ion-select placeholder="Select One" interface="popover" mode="ios" formControlName="refReferenceListPayPurposeId" class="select">
                        <ion-select-option *ngFor="let item of paymentPurposes" [value]="item.referenceListId">
                            {{item.referenceListIdName}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item class="form-item">
                    <ion-label position="floating">Payment Date</ion-label>
                    <ion-datetime display-timezone="utc" formControlName="paymentDate"></ion-datetime>
                </ion-item>
                <ion-item class="form-item">
                    <ion-label position="floating">Amount</ion-label>
                    <ion-input type="number" formControlName="amount"></ion-input>
                </ion-item>
                <ion-item class="form-item">
                    <ion-label position="floating">Description</ion-label>
                    <ion-textarea formControlName="description"></ion-textarea>
                </ion-item>

            </form>
        </ion-card-content>
    </ion-card>
</ion-content>