/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root {
    // --primary-color: #d62912;
    --primary-color: #6e33a1;
    // --primary-color: #3a5 ;
    // #fbbc05
    // --secondary-color: #f4b05f;
    --secondary-color: #6e33a1;
    // --bg-color: #e9c079;
    // --bg-color: #fbbc05; (Y_bg)
    --bg-color: #EFEFEF; // (Y1_bg)
    --danger-color: rgb(255, 0, 0);
}

ion-app {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ion-content {
    --background: var(--bg-color) !important;
}

// ion-list {
//     --background: var(--bg-color);
// }
// ion-item {
//     --background: var(--bg-color);
// }
.toolbar {
    --background: var(--primary-color);
    --color: white;
}

.no-padding {
    padding: 0px;
}

.d-flex {
    display: flex;
}

.highlight {
    color: var(--primary-color);
}

ion-card {
    --background: white;
}