@import './../../../global.scss';





ion-card-content {
    div {
        margin-top: 10px;
        ion-note {
            // font-size: 16px;
        }
        ion-icon {
            margin-right: 5px;
        }
    
    }
}

.addicon {
    font-size: 32px;
}