<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            ORG
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <form class="form">

        <ion-item class="form-item">
            <ion-label>Comapny</ion-label>
            <ion-input type="text" placeholder="Enter Company Name"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>GST NO</ion-label>
            <ion-input type="text" placeholder="Enter GST No"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>PAN</ion-label>
            <ion-input type="text" placeholder="Enter PAN NO"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Legal Name</ion-label>
            <ion-input type="text" placeholder="Enter Legal Name"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Address</ion-label>
            <ion-input type="text" placeholder="Enter Address"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Business</ion-label>
            <ion-input type="text" placeholder="Nature Of Business"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Entity Type</ion-label>
            <ion-input type="text" placeholder="Entity Type"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Registration Type</ion-label>
            <ion-input type="text" placeholder="aaaa"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Department</ion-label>
            <ion-input type="text" placeholder="Department Code and Type"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Registration</ion-label>
            <ion-input type="text" placeholder=""></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Telephone</ion-label>
            <ion-input type="number" placeholder="0445214578"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Mobile</ion-label>
            <ion-input type="number" placeholder="96325874101"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Email</ion-label>
            <ion-input type="email" placeholder="a@a.com"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Website</ion-label>
            <ion-input type="url" placeholder="www.htt.com"></ion-input>
        </ion-item>

    </form>
</ion-content>