@import './../../../global.scss';

.card {
    ion-card-content {
        div {
            font-size: 14px;
            margin-top: 8px;
            margin-bottom: 8px;
            display: flex;
            .field {
                width: 100px;
            }
        }
    }
}

.new-btn {
    ion-icon {
        font-size: 30px !important;
        font-weight: bolder !important;    
    }
}

.accpt {
    margin-top: 75px !important;
    color: white !important;
}

.delete-btn {
    --background: var(--danger-color) !important;
    color: white;
}