<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title *ngIf="!editBookingId">
            {{'New Booking.New Booking'|translate}}
        </ion-title>
        <ion-title *ngIf="editBookingId">
            {{'New Booking.Edit Booking'|translate}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-slides pager="true" [options]="slideOpts" #slides>
        <ion-slide>
            <!-- <h1>Step 1</h1> -->
            <ion-card style="width: 100% !important;">
                <ion-card-content>

                    <form [formGroup]="bookingForm">
                        <ion-item>
                            <ion-label>{{'New Booking.Source'|translate}}</ion-label>
                            <ionic-selectable #sourceComponent modalCssClass="ionic-selectable-documentation-configuration" formControlName="loadingLocation" [items]="locations" itemValueField="source" itemTextField="source" [canSearch]="true" closeButtonSlot="end" (onChange)="portChange($event,'loadingLocation')"
                                [searchFailText]="'No such source found.'">
                                <ng-template ionicSelectableHeaderTemplate>
                                    <ion-toolbar class="toolbar-background">
                                        <ion-buttons [slot]="sourceComponent.closeButtonSlot">
                                            <ion-button (click)="sourceComponent.close()">
                                                <ion-icon name="close-circle"></ion-icon>
                                            </ion-button>
                                        </ion-buttons>
                                        <ion-title>
                                            Select Source
                                        </ion-title>
                                    </ion-toolbar>
                                </ng-template>
                            </ionic-selectable>
                        </ion-item>
                        <!-- <ion-item>
                            <ion-label> {{'New Booking.Source'|translate}}</ion-label>
                            <ion-select placeholder="Select One" formControlName="loadingLocation" interface="popover" mode="ios" (ionChange)="changeLocations($event, 'loadingLocation')">
                                <ion-select-option *ngFor="let item of locations" [value]="item.source">{{item.source}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item> -->
                        <ion-item>
                            <ion-label>{{'New Booking.Destination'|translate}}</ion-label>
                            <!-- <mbsc-select formControlName="unLoadingLocation" [options]="locations" placeholder="Please Select...">Filter</mbsc-select> -->
                            <ionic-selectable #destinationComponent formControlName="unLoadingLocation" modalCssClass="ionic-selectable-documentation-configuration" closeButtonSlot="end" [items]="locations" itemValueField="destination" itemTextField="destination" [canSearch]="true"
                                (onChange)="portChange($event, 'unLoadingLocation')" [searchFailText]="'No such destination found.'">
                                <ng-template ionicSelectableHeaderTemplate>
                                    <ion-toolbar class=" toolbar-background">
                                        <ion-buttons [slot]="destinationComponent.closeButtonSlot">
                                            <ion-button (click)="destinationComponent.close()">
                                                <ion-icon name="close-circle"></ion-icon>
                                            </ion-button>
                                        </ion-buttons>
                                        <ion-title>
                                            Select Destination
                                        </ion-title>
                                    </ion-toolbar>
                                </ng-template>
                            </ionic-selectable>
                        </ion-item>
                        <!-- <ion-item>
                            <ion-label> {{'New Booking.Destination'|translate}}</ion-label>
                            <ion-select placeholder="Select One" formControlName="unLoadingLocation" interface="popover" mode="ios" (ionChange)="changeLocations($event, 'unLoadingLocation')">
                                <ion-select-option *ngFor="let item of locations" [value]="item.destination">{{item.destination}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item> -->

                        <div *ngIf="!!bookingForm.get( 'loadingLocation').value && !!bookingForm.get( 'unLoadingLocation').value">

                            <h5>
                                &nbsp;&nbsp;
                                <ion-icon name="remove-circle-outline" *ngIf="noOfTrucks.length>1" style="color: black;" (click)="decreaseCount('truck')"></ion-icon>
                                <ion-icon name="add-circle-outline" (click)="increaseCount('truck')" style="color: black;"></ion-icon>
                                &nbsp;Vehicles:
                            </h5>

                            <div *ngFor="let item of noOfTrucks let i = index">
                                <ion-item>
                                    <ion-label>{{'New Booking.category of Vehicle'|translate}}</ion-label>
                                    <ion-select formControlName="vehicleCategory" placeholder="Select Truck" mode="ios" interface="popover" (ionChange)="trucksLoader($event)">
                                        <ion-select-option value="Open Truck">Open Truck</ion-select-option>
                                        <ion-select-option value="Container">Container</ion-select-option>
                                        <ion-select-option value="Trailer">Trailer</ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item *ngIf="!!bookingForm.get( 'vehicleCategory').value">
                                    <ion-label> {{'New Booking.Vehicles'|translate}}</ion-label>
                                    <ion-select placeholder=" Select One" interface="action-sheet" mode="ios" formControlName="refReferenceListVehicleTypeId" (ionChange)="getSelectedTrucks($event)">
                                        <ion-select-option *ngFor="let item of vehicleTypes" [value]="item.referenceListId">{{item.referenceListIdName}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                            </div>

                            <div *ngIf="!!bookingForm.get( 'refReferenceListVehicleTypeId').value">
                                <!-- <ion-item>
                                    <ion-label> {{'New Booking.Material'|translate}}</ion-label>
                                    <ion-select formControlName="refMaterialRefListId" placeholder=" Select One" interface="popover" mode="ios">
                                        <ion-select-option *ngFor="let item of materials" [value]="item.referenceListId">{{item.referenceListIdName}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item> -->
                                <!-- <ion-auto-complete [dataProvider]="completeTestService" formControlName="country"></ion-auto-complete> -->
                                <ion-item>
                                    <ion-label>{{'New Booking.Material'|translate}}</ion-label>
                                    <ionic-selectable #materialComponent formControlName="refMaterialRefListId" modalCssClass="ionic-selectable-documentation-configuration" closeButtonSlot="end" [items]="materials" itemValueField="referenceListId" itemTextField="referenceListIdName" [canSearch]="true"
                                        (onChange)="portChange($event, 'material')" [searchFailText]=" 'No such material found.'">
                                        <ng-template ionicSelectableHeaderTemplate>
                                            <ion-toolbar class="toolbar-background">
                                                <ion-buttons [slot]="materialComponent.closeButtonSlot">
                                                    <ion-button (click)="materialComponent.close()">
                                                        <ion-icon name="close-circle"></ion-icon>
                                                    </ion-button>
                                                </ion-buttons>
                                                <ion-title>
                                                    Select Material
                                                </ion-title>
                                            </ion-toolbar>
                                        </ng-template>
                                    </ionic-selectable>

                                    <!-- <ionic-selectable formControlName="refMaterialRefListId" modalCssClass="modal" [items]="materials" itemValueField="referenceListId" itemTextField="referenceListIdName" [canSearch]="true" (onChange)="portChange($event)">
                                    </ionic-selectable> -->
                                </ion-item>
                                <ion-item>
                                    <ion-label> {{'New Booking.Total Qty'|translate}}</ion-label>
                                    <ion-input formControlName="totalQty" type="number" placeholder="Ton"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label> {{'New Booking.Estimated Loading Time'|translate}}</ion-label>
                                    <ion-datetime formControlName="estimatedLoadingTime" display-timezone="utc" (ionChange)="goToStepTwo()"></ion-datetime>
                                </ion-item>
                                <ion-item class="form-item">
                                    <ion-label> {{'New Booking.Rate per Ton'|translate}}</ion-label>
                                    <ion-select placeholder="Select One" formControlName="rateId" interface="popover" mode="ios" disabled="true">
                                        <ion-select-option *ngFor="let item of rateDetails" [value]="item.rateId">{{item.amount}}
                                        </ion-select-option>
                                    </ion-select>
                                </ion-item>
                                <ion-item>
                                    <ion-label> {{'New Booking.Booking Date'|translate}}</ion-label>
                                    <ion-datetime formControlName="bookingDate" display-timezone="utc" (ionChange)="goToStepTwo()"></ion-datetime>

                                </ion-item>
                            </div>
                        </div>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <ion-card style="width: 100% !important;">
                <ion-card-content>
                    <form [formGroup]="bookingForm">
                        <ion-item class="form-item" *ngIf="showbId">
                            <ion-label> {{'New Booking.Booking ID'|translate}}:</ion-label>
                            <ion-input type="text" formControlName="value" [disabled]="true"></ion-input>
                        </ion-item>
                        <div *ngFor="let item of noOfPol let i=index">
                            <ion-item>
                                <ion-icon name="remove-circle-outline" *ngIf="i>0" style="color: black;" (click)="decreaseCount('pol')"></ion-icon>
                                <ion-icon name="add-circle-outline" (click)="increaseCount('pol')" style="color: black;"></ion-icon>
                                <ion-label>
                                    &nbsp;&nbsp; {{'New Booking.POL'|translate}}&nbsp;&nbsp;</ion-label>
                                <ion-input type="text" placeholder="select" (click)="popover('pol')">&nbsp;&nbsp;{{polAddress[i]}}</ion-input>
                            </ion-item>
                        </div>
                        <div *ngFor="let item of noOfPod let i = index">
                            <ion-item>
                                <ion-icon name="remove-circle-outline" *ngIf="i>0" style="color: black;" (click)="decreaseCount('pod')"></ion-icon>
                                <ion-icon name="add-circle-outline" (click)="increaseCount('pod')" style="color: black;"></ion-icon>
                                <ion-label>
                                    &nbsp;&nbsp; {{'New Booking.POD'|translate}}&nbsp;&nbsp;</ion-label>
                                <ion-input type="text" placeholder="select" (click)="popover('pod')">&nbsp;&nbsp;{{podAddress[i]}}</ion-input>
                            </ion-item>
                        </div>
                        <ion-item>
                            <ion-label> {{'New Booking.Estimated Unloading Time'|translate}}</ion-label>
                            <ion-datetime formControlName="estimatedUnloadingTime" display-timezone="utc"></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label> {{'New Booking.Consigner'|translate}}</ion-label>
                            <ion-select placeholder="Select Consigner" interface="popover" mode="ios" formControlName="refConsignerID">
                                <ion-select-option *ngFor="let item of consigners" [value]="item.consignerId">{{item.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>


</ion-content>