<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            My Profile
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon name="pencil-outline" style="font-size: 32px;" *ngIf="editForm" (click)="edit()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-content>
            <form [formGroup]="profileForm">
                <ion-item>
                    <ion-label>
                        <ion-icon name="person-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Name : </ion-label>
                    <ion-input type="text" formControlName="userName" disabled="{{editForm}}"></ion-input>

                    <!-- <span> -->
                </ion-item>

                <ion-item>
                    <ion-label>
                        <ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Mobile No : </ion-label>
                    <ion-input type="text" formControlName="mobileNo" disabled="{{editForm}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>
                        <ion-icon name="mail-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Email : </ion-label>
                    <ion-input type="text" formControlName="email" disabled="{{editForm}}"></ion-input>
                </ion-item>
                <ion-item *ngIf="editForm">
                    <ion-label>
                        <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Password : </ion-label>
                    <ion-input type="password" formControlName="password" disabled="{{editForm}}"></ion-input>
                </ion-item>
                <ion-item *ngIf="!editForm">
                    <ion-label>
                        <ion-icon name="lock-open-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Old Password : </ion-label>
                    <ion-input type="password" formControlName="oldPassword"></ion-input>
                </ion-item>
                <ion-item *ngIf="!editForm">
                    <ion-label>
                        <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp;&nbsp;New Password : </ion-label>
                    <ion-input type="password" formControlName="newPassword"></ion-input>
                </ion-item>
                <ion-item *ngIf="!editForm">
                    <ion-label>
                        <ion-icon name="lock-closed-outline"></ion-icon>&nbsp;&nbsp;&nbsp;Confirm Password : </ion-label>
                    <ion-input type="password" formControlName="cnfPassword"></ion-input>
                </ion-item>

            </form>
            <br>
            <br>
            <br>
            <span *ngIf="!editForm">
            <ion-fab vertical="bottom" style="margin-left: 70%;">
            <ion-fab-button style="--background: var(--primary-color) !important; "size="small">
            <ion-icon name="checkmark-done"></ion-icon>
            </ion-fab-button>
            
          </ion-fab>
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button style="--background: var(--primary-color) !important; "size="small" (click)="cancel()">
            <ion-icon name="close"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          
        </span>
        </ion-card-content>
    </ion-card>
</ion-content>