<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title>
            {{'Manage Drivers.Manage Drivers'|translate}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="create-btn" (click)="createDriver()">
                <ion-icon name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card class="card" *ngFor="let driver of drivers">
        <ion-card-content>
            <div>
                <ion-note>
                    <ion-icon name="person-outline"></ion-icon>
                    <span>&nbsp;{{'Manage Drivers.Driver Name'|translate}} : &nbsp;</span>
                    <span>{{driver.driverName}}</span>
                </ion-note>
            </div>
            <div>
                <ion-note>
                    <ion-icon name="call-outline"></ion-icon>
                    <span>&nbsp;{{'Manage Drivers.Mobile Number'|translate}} : &nbsp;</span>
                    <span>{{driver.mobileNo}}</span>
                </ion-note>
            </div>
            <div>
                <ion-note>
                    <ion-icon name="reader-outline"></ion-icon>
                    <span>&nbsp;{{'Manage Drivers.License NO'|translate}} : &nbsp;</span>
                    <span>{{driver.licenceNo }}</span>
                </ion-note>
            </div>
            <div>
                <ion-note>
                    <ion-icon name="today-outline"></ion-icon>
                    <span>&nbsp;{{'Manage Drivers.License Validity'|translate}} : &nbsp;</span>
                    <span>{{driver.licenceValidity | date:'MMM dd, yyyy'}}</span>
                </ion-note>
            </div>
            <div>
                <ion-fab vertical="top" horizontal="end">
                    <ion-fab-button class="accpt" size="small" (click)="edit(driver)">
                        <ion-icon class="highlight" name="pencil-outline"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <ion-fab vertical="bottom" horizontal="end">
                    <ion-fab-button class="cancel" size="small" (click)="deleteDriver(driver.driverId)">
                        <ion-icon name="trash-outline"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>