<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title *ngIf="!isEdit">
            {{'New Driver-In-Out.New Driver-In-Out'|translate}}
        </ion-title>
        <ion-title *ngIf="isEdit">
            {{'New Driver-In-Out.Edit Driver-In-Out'|translate}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-content>
            <form [formGroup]="timeForm">
                <ion-item>
                    <ion-label>{{'New Driver-In-Out.Driver Name'|translate}} :</ion-label>
                    <ion-select formControlName="refDriverId" placeholder="Select Driver" mode="ios" interface="popover">
                        <ion-select-option *ngFor="let driver of drivers" [value]="driver.driverId">{{driver.driverName}}</ion-select-option>

                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>{{'New Driver-In-Out.Vehicle Number'|translate}} :</ion-label>
                    <ion-select formControlName="refVehicleId" placeholder="Select Vehicle" mode="ios" interface="popover">
                        <ion-select-option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicleId">{{vehicle.vvberVehicleNo}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>{{'New Driver-In-Out.In Time'|translate}} :</ion-label>
                    <ion-datetime formControlName="inTime" placeholder="YYYY-MM-DD HH:mm" display-format="YYYY-MM-DD HH:mm" [min]="currentYear" [max]="maxyear"> </ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>{{'New Driver-In-Out.Out Time'|translate}} :</ion-label>
                    <ion-datetime formControlName="outTime" placeholder="YYYY-MM-DD HH:mm" display-format="YYYY-MM-DD HH:mm" [min]="currentYear" [max]="maxyear"></ion-datetime>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>

</ion-content>