<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title *ngIf="!isEdit">
            New Rate Card
        </ion-title>
        <ion-title *ngIf="isEdit">
            Edit Rate Card
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>

    <form class="form" [formGroup]="newRateForm">
        <ion-item class="form-item">
            <ion-label>Rate For</ion-label>
            <ion-select placeholder="select Rate For" formControlName="refRateForReferenceList" interface="popover" mode="ios" class="select">
                <ion-select-option *ngFor="let item of rateForList" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Source</ion-label>
            <ion-select placeholder="select Source" formControlName="refSourceReferenceList" interface="popover" mode="ios" class="select">
                <ion-select-option *ngFor="let item of locationsList" [value]="item.referenceListId">{{item.referenceListIdName}}
                </ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Destination</ion-label>
            <ion-select placeholder="select Destination" formControlName="refDestinationReferenceList" interface="popover" mode="ios" class="select">
                <ion-select-option *ngFor="let item of locationsList" [value]="item.referenceListId">{{item.referenceListIdName}}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item class="form-item">
            <ion-label>Amount Per Ton</ion-label>
            <ion-input style="text-align: right;" formControlName="amount" type="number" placeholder="100"></ion-input>
        </ion-item>

        <ion-item class="form-item">
            <ion-label postion="fixed">Validity Date</ion-label>
            <ion-datetime formControlName="ValidityDate" placeholder="select date" display-timezone="utc"></ion-datetime>
        </ion-item>



    </form>
</ion-content>