@import './../../../global.scss';

.card {
    ion-card-content {
        div {
            font-size: 16px;
            margin-top: 5px;
            margin-bottom: 5px;

            mat-icon {
                margin-right: 5px;
            }
        }
    }
}