<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-title *ngIf="!driverId">
            Create Driver
        </ion-title>
        <ion-title *ngIf="driverId > -1">
            Edit Driver
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end" class="submit">
            <ion-icon (click)="submit()" class="sendbtn" name="send-sharp"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card>
        <ion-card-content>
            <form [formGroup]="newDriverForm">
                <ion-item>
                    <ion-label>Driver Name :</ion-label>
                    <ion-input formControlName="driverName" type="text" placeholder="DriverName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Mobile No :</ion-label>
                    <ion-input formControlName="mobileNo" type="tel" placeholder="Mobile Number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Licence No :</ion-label>
                    <ion-input formControlName="licenceNo" type="text" placeholder="Licence Number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Licence Validity :</ion-label>
                    <ion-datetime formControlName="licenceValidity" display-format="YYYY-MM-DD" [min]="currentYear" [max]="maxyear"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label>Licence Document :</ion-label>
                    <ion-button (click)="chooseFile()">Choose File</ion-button>
                </ion-item>
            </form>
            <form [formGroup]="driverUserForm">
                <ion-item>
                    <ion-label>Email Id</ion-label>
                    <ion-input formControlName="mailId" type="mail" placeholder="XXX@gmail.com"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Password :</ion-label>
                    <ion-input formControlName="password" type="password" placeholder="New Password"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Confirm Password :</ion-label>
                    <ion-input formControlName="cnfPassword" type="password" placeholder="Confirm Password"></ion-input>
                </ion-item>
            </form>
        </ion-card-content>
    </ion-card>
</ion-content>