.outerHeader {
    background-color: white;
    height: 100%;
}

.bodr {
    border-bottom: solid 1px black;
}

h3 {
    color: black;
    margin-top: 4%;
}

.titlebutton {
    color: var(--primary-color);
    --border-color: var(--primary-color);
    margin-top: 4%;
}

.lowerbody {
    background-color: white;
    padding-top: 2%;
}